BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 300
AllowShortFunctionsOnASingleLine: Inline
BreakBeforeBraces: Allman
SpacesInParentheses: false
SpacesInSquareBrackets: true
SpaceBeforeParens: Never
AlwaysBreakAfterReturnType: None
EmptyLineBeforeAccessModifier: Always
SortIncludes: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignTrailingComments: true
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AllowShortBlocksOnASingleLine: true
PointerAlignment: Left
Cpp11BracedListStyle: true
DerivePointerAlignment: false
ReflowComments: true